@import "tailwindcss";
@import "@nuxt/ui";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Instrument Serif', serif;
}

:root {
  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
